html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Tema claro */
    --azul-clarinho: #50b7f5;
    --quase-branco: #e6ecf0;
    --branco: #fff;
    /* Tema escuro */
    --cinza-ciano: #476173;
    --cinza-escuro: #121212;
    --preto-leve: #17170e;
    --cinza-azulado: #2e3547;
    --azul-escuro: #212f41;
    --cinza-claro: #666363;
    --cinza-fundo: #1b1a1a;
    --teste: #2b2929;
}

/* Barra de navegação  */
.nav_logo {
    width: 50px;
    height: 30px;
    color: var(--azul-clarinho);
    fill: currentColor;
}

.Menu_options {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Menu_options .material-icons {
    color: white;
    padding: 10px;
}

.Menu_options h2 {
    color: var(--branco);
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.Menu_options:hover {
    background-color: var(--cinza-azulado);
    border-radius: 30px;
    color: var(--branco);
}

.tweet_btn {
    width: 100%;
    background-color: var(--azul-clarinho);
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 20px;
    height: 45px;
}

.tweet_btn:hover {
    cursor: pointer;
    color: var(--branco);
}

body {
    background-color: var(--cinza-escuro);
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

nav {
    flex: 0.2;
    border-right: 1px solid var(--cinza-claro);
    min-width: 250px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Seção principal */
main {
    background-color: var(--cinza-fundo);
    flex: 0.5;
    border-right: 1px solid var(--cinza-claro);
    min-width: fit-content;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


main::-webkit-scrollbar {
    display: none;
}

.header h2 {
    font-weight: bold;
    font-size: 20px;
}

.tweet_box-input img {
    border-radius: 50%;
    height: 40px;
}

.tweet_box {
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 3px solid var(--cinza-claro);
}

.tweet_box form, textarea {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tweet_box-input {
    background-color: var(--cinza-fundo);
    display: flex;
    padding: 16px;
}

 textarea {
    resize: none;
    border-radius: 12px;
    flex: 0.9;
    overflow: hidden;
    
    height: 3rem;
    padding-left: 20px;
    padding-top: 12px;
    margin-left: 20px;
    font-size: 16px;
    border: none;
    outline: none;
}
.tweet_box-input textarea::placeholder{
    font-size: 16px;
}
.tweet_box-input textarea:focus::placeholder {
    color: transparent; 
}
.tweet_box-input button {
    background-color: var(--azul-clarinho);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 30px;
    border: none;
    width: 80px;
    height: 40px;
    margin: auto auto;
    cursor: pointer;
}

.tweet_box-input button:hover {
    color: var(--branco);
    cursor: pointer;
    background-color: #4297cc;
}

.post_profile-image img {
    border-radius: 50%;
    height: 40px;
}

.atualizacoes {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--cinza-claro);
    padding-bottom: 10px;
}

.post_body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
}

.post_footer {
    color: var(--branco);
    display: flex;
    margin-top: 10px;
    
}
.post_footer span:nth-child(1){
    cursor: pointer;
}
.post_footer span:nth-child(2) {
    cursor: pointer;
    padding-left: 20px;
}
.post_badge {
    font-size: 14px !important;
    color: var(--azul-clarinho);
    margin-right: 5px;
}

.header-icon-section {
    font-weight: 600;
    font-size: 12px;
    color: var(--quase-branco);
}

.post_header-text h3 {
    color: var(--branco);
    font-size: 13px;
    margin: 8px 0;
}

.post_header-discription {
    max-width: 400px;
    word-wrap: break-word;
    color: white;
    margin-bottom: 10px;
    font-size: 15px;
}

.post_body {
    flex: 1;
    padding: 10px;
}

.post_profile-image {
    padding: 20px;
}


/* Seção lateral */
aside {
    flex: 0.3;
}

.aside_input {
    display: flex;
    align-items: center;
    background-color: var(--quase-branco);
    padding: 10px;
    padding-left: 4px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.aside_input input::placeholder {
    padding-left: 4px;
}
.aside_input input:focus::placeholder {
    color: transparent; 
}

.aside_input input {
    border: none;
    background-color: var(--quase-branco);
    outline: none;
}

.aside_search-icon {
    cursor: pointer;
    padding-left: 2px;
    color: var(--cinza-ciano);
}

.aside_container {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: var(--quase-branco);
    border-radius: 20px;
}

.aside_container h2 {
    color: var(--cinza-escuro);
    font-size: 18px;
    font-weight: 800;
}